.about-container {
	display: flex;
	flex-direction: column;
	padding: 0;

	@include md-min {
		padding: 20px;
	}
}

.about__columns {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	@include md-min {
		flex-direction: row;
		justify-content: flex-start;
	}
}

.about-column {
	@include md-min {
		flex: 1;
		margin: 0 10px;
		padding: 20px;
	}
}

.about-column h2 {
	margin-top: 0;
}

.about-column p {
	margin: 10px 0;
	line-height: 1.6;
}

.about-quote {
	flex-basis: 100%;
	padding: 20px;
	margin-top: 20px;
	font-style: italic;
	font-size: 35px;
	text-align: center;
}

.about__author {
	font-size: 20px;
	margin-top: 10px;
}

.team-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
	background-color: $color-dark;

	@include md-min {
		flex-direction: row;
	}
}

.team-title {
	font-size: 30px;
	padding-bottom: 30px;
}

.team-text,
.team-image {
	flex: 1;
	color: $color-bg;
}

.team-text {
	padding: 20px;
	color: $color-bg;
	text-align: center;

	@include md-min {
		margin-right: 10px;
	}
}

.team-image img {
	width: 100%;
	height: auto;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-description {
	font-size: 18px;
}
