@import './mixins';
@import './variables';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 200px;
}

.App {
	position: relative;
	width: 90%;
	margin: 20px auto;
	padding: 0 20px;
	line-height: 1.5;
	overflow-x: hidden;

	@include md-min {
		margin: 0 auto;
		max-width: 1400px;
	}

	@include md-max {
		overflow-x: hidden;
	}
}

body {
	background-color: $color-bg;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12px;
	overflow-x: hidden;
	color: $color-main;
	line-height: 1.2;

	@include md-min {
		font-size: 16px;
	}
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}

li {
	list-style-type: none;
	list-style: none;
}

input {
	border-radius: 0;
	outline: none;
}

a {
	text-decoration: none;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;

	@include xl-min {
		padding: 0;
	}
}

img {
	width: 100%;
	display: block;
	height: 100%;
}

button {
	cursor: pointer;
	font-size: 12px;

	@include md-min {
		font-size: 16px;
	}
}

.section {
	margin: 100px 0;
}

.title {
	font-size: 30px;
	font-weight: lighter;
	margin: 50px auto;
	color: $color-dark;

	&.center {
		text-align: center;
		width: 100%;
		margin: 50px 0;
	}

	&.tight {
		@include md-min {
			width: 70%;
			margin: 50px auto;
		}
	}
}

a {
	color: unset;
}

.subtitle {
	font-size: 35px;
	color: $color-dark-2;
	padding-bottom: 20px;
}

.loading-spinner {
	position: absolute;
	top: 50%; /* position the top  edge of the element at the middle of the parent */
	left: 50%; /* position the left edge of the element at the middle of the parent */

	transform: translate(
		-50%,
		-50%
	); /* This is a shorthand of
                                       translateX(-50%) and translateY(-50%) */
}

.button-icon {
	background-color: transparent;
	border: none;

	svg {
		color: $color-dark;
	}
}

.text-button {
	padding: 30px 0;
	font-size: 25px;
}

.button__container {
	padding: 100px 0;
	font-size: 30px;

	svg {
		font-size: 20px;
		color: $color-dark;
	}
}
