.big-img {
	width: 100%;
	height: 800px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(../assets/images/big-img.jpg);
	overflow: hidden; /* Ensure the rounded corners are visible */
	border-radius: 40%; /* Initial radius */
	transition: border-radius 0.3s ease; /* Smooth transition */
}

.big-img.in-view {
	border-radius: 100%; /* Final radius when in view */
}

.big-img {
	border: 5px solid red; /* Temporary border to help debug */
}

.big-img.in-view {
	border-radius: 100%; /* Final radius when in view */
	border: 5px solid green; /* Temporary border to help debug */
}
