.contact-container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	flex-wrap: wrap; /* Allows columns to wrap on smaller screens */
}

.contact-form,
.contact-info {
	flex: 1;
	margin: 0 10px;
	padding: 20px;
	box-sizing: border-box;
}

.contact-form {
	max-width: 600px; /* Limits the width of the form */
}

.contact-form h2 {
	margin-top: 0;
}

.form-group {
	margin-bottom: 15px;
	background-color: $color-bg;
	border: none;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: none;
	background-color: $color-bg;
	border-bottom: 1px solid $color-dark;
}

.form-group textarea {
	height: 150px;
	resize: vertical; /* Allows vertical resizing */
}

.error-message {
	color: red;
	font-size: 0.875em;
}

button {
	padding: 10px 20px;
	border: 1px solid $color-dark;
	border-radius: 5px;
	background-color: $color-dark;
	color: $color-bg;
	cursor: pointer;
}

button:hover {
	background-color: $color-bg;
	color: $color-dark;
	border-radius: 5px;
	border: 1px solid $color-dark;
}

.contact-info h2 {
	margin-top: 0;
}

.contact-info p {
	margin: 10px 0;
}

.social-contact {
	width: 30%;
	margin-top: 30px;
}
