.header {
	@include lg-min {
		margin-top: 70px;
	}
}

.header__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header__title {
	text-align: center;
	font-size: 40px;
	transition: opacity 1s ease-out, transform 1s ease-out;

	@include md-min {
		font-size: 60px;
	}
}

.slide-in {
	opacity: 1;
	transform: translateX(0);
}
.header__text {
	padding-top: 40px;
	text-align: center;
	font-size: 18px;
	width: 80%;
}

.arrows__container {
	padding-top: 50px;

	.arrow:first-child {
		opacity: 0.4;
	}
	.arrow:nth-child(2) {
		opacity: 0.7;
	}
	.arrow {
		padding-top: 10px;
	}
	.arrow:before {
		content: '';
		width: 25px;
		height: 15px;
		background: $color-main;
		display: inline-block;
		transform: skewY(45deg);
	}
	.arrow:after {
		content: '';
		width: 25px;
		height: 15px;
		background: $color-main;
		display: inline-block;
		transform: skewY(-45deg);
	}
	.arrowSliding {
		animation: slide 4s linear infinite;
	}
	.delay1 {
		animation-delay: 0s;
	}
	.delay2 {
		animation-delay: 1s;
	}
	.delay3 {
		animation-delay: 2s;
	}

	@keyframes slide {
		0% {
			opacity: 1;
		}
		25% {
			opacity: 0;
		}
		55% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
