.menu {
	@include md-max {
		height: 20vh;
	}
}

.menu__inner {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	@include md-min {
		margin: 20px 0;
	}
}

.logo {
	@include md-max {
		max-width: 200px;
	}
}

.menu__col {
	display: flex;
}
nav {
	height: 70%;

	@include md-min {
		height: 100%;
	}
}
.hamburger-react {
	background-color: $color-main;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color: $color-bg;
}

.menu__col--right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__lang {
	padding-right: 20px;
}

.menu__dropdown {
	position: absolute; /* Change from relative to absolute */
	left: 0;
	right: 0;
	height: 0; /* Start height as 0 */
	overflow: hidden; /* Hide overflow */

	background-color: $color-bg;
	transition: height 0.3s ease-in-out; /* Add transition for height */
	z-index: 11;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	&.open {
		border-top: 2px solid $color-dark;
	}
}

.menu__dropdown.open {
	height: 100vh;
	overflow: hidden;
}

.menu-item {
	font-size: 20px;
	display: block;
	text-transform: uppercase;
	padding: 15px 0;

	&.active,
	&:hover {
		font-weight: bold;
	}

	@include md-min {
		font-size: 35px;
	}
}
