.table-realization {
	@include md-max {
		overflow-x: scroll;
	}

	@media only screen and (max-width: 430px) {
		max-width: 430px;
	}
}

.table-realization__header {
	text-align: left;
	padding-bottom: 20px;
	font-size: 15px;
}

.table-realization__cell {
	padding-right: 10px;
}
